---
interface Props {
    talk: CollectionEntry<"talks">;
    /**
     * True to set loading="lazy" on the talk thumbnail
     */
    lazyThumb?: boolean;
}

import slugify from '@sindresorhus/slugify';
import Pill from "../components/Pill.astro";
import type { CollectionEntry } from 'astro:content';
import WatchCardContent from "../components/WatchCardContent.astro";
import { Image } from "astro:assets";

const { lazyThumb, talk } = Astro.props;
const youtube = talk.data.youtube;
const mediaCccDe = talk.data.mediaCccDe;
const title = talk.data['Proposal title'];
const talkId = talk.data.ID;
const thumbnailUrl = `/talks/thumbnail_${talkId}.avif`;
const track = talk.data.Track ? talk.data.Track.en : '';
const summary = talk.data.Abstract;
const speakerNames = talk.data['Speaker names'].join(",");
const room = talk.data.Room.en;
const hasVideo = !!talk.data.youtube || !!talk.data.mediaCccDe;
import MediaCccDeIcon from '../img/media-ccc-de.svg';
import YouTubeIcon from '../img/YouTube.svg';

---

<style lang="scss">
    @use "sass:color";

    .talk-card {
        display: flex;
        border: 1px solid #D2D2D2;
        overflow: clip;
        flex-flow: wrap;

        a {
            text-decoration: none;
        }

        .info-container {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            color: var(--color-text);

            h2 {
                font-size: 1.25rem;
                line-height: 1.2;
                margin-block: 0;
                display: -webkit-inline-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: clip;
                height: 3lh;
            }

            p {
                line-height: 1.4;
                margin-block: 0;
                font-size: 1rem;
                display: -webkit-inline-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: clip;
                height: 3lh;
            }

            .speaker {
                font-size: .75rem;
            }

            .talk-pills {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
            }
        }

        .additional-links {
            align-self: end;
            border-top: 1px solid #D2D2D2;
            width: 100%;

            > *:not(:last-child) {
                border-bottom: 1px solid var(--border);
            }

            a {
                align-items: center;
                color: var(--link-color);
                display: flex;
                gap: 8px;
            }

            a:hover {
                background-color: color.adjust(#000, $lightness: 15%);
            }
        }
    }

    .talk-card__thumbnail {
        aspect-ratio: 16/9;
    }

    .additional-links__icon {
        color: var(--secondary-color);
        flex: 0 0 32px;
    }

    .additional-links__item {
        padding: 16px 24px;
    }
</style>
<div class:list={['talk-card', slugify(track)]}>
    <WatchCardContent youtube={undefined}>
        <Image
            src={thumbnailUrl}
            class="talk-card__thumbnail"
            alt={speakerNames}
            height="900"
            width="1600"
            loading={lazyThumb ? 'lazy' : 'eager'}
        />
        <div class="info-container">
            <h2>{ title }</h2>
            <p>{ summary }</p>
            <div class="speaker">
                { speakerNames }
            </div>
            <div class="talk-pills">
                {track && <Pill Type="div" label={ track } />}
                <Pill Type="div" label={ room } />
            </div>
        </div>
    </WatchCardContent>
    <div class="additional-links">
        {!hasVideo && <div>No recording available</div>}
        {mediaCccDe &&
            <a
                class="additional-links__item"
                href={mediaCccDe}
            >
                <MediaCccDeIcon
                    class="additional-links__icon"
                    width={32}
                    height={32}
                />
                Watch on media.ccc.de
            </a>
        }
        {youtube &&
            <a
                class="additional-links__item"
                href={youtube}
            >
                <YouTubeIcon
                    class="additional-links__icon"
                    width={32}
                    height={32}
                />
                Watch on YouTube
            </a>
        }
    </div>
</div>
