---
interface Props {
    talk: CollectionEntry<"talks">;
}

import slugify from '@sindresorhus/slugify';
import Pill from "../components/Pill.astro";
import type { CollectionEntry } from 'astro:content';
import { Image } from "astro:assets";

const { talk } = Astro.props;
const youtube = talk.data.youtube;
const mediaCccDe = talk.data.mediaCccDe;
const title = talk.data['Proposal title'];
const talkId = talk.data.ID;
const thumbnailUrl = `/talks/thumbnail_${talkId}.avif`;
const track = talk.data.Track ? talk.data.Track.en : '';
const summary = talk.data.Abstract;
const speakerNames = talk.data['Speaker names'].join(", ");
const room = talk.data.Room.en;
const start = talk.data.Start.split('T')[0];
const slides = talk.data.slides ? `MC25_${[start, speakerNames, title].map(seg => slugify(seg)).join("_")}.pdf` : "";
const hasVideo = !!talk.data.youtube || !!talk.data.mediaCccDe;
import Voctocat from '../img/voctocat.svg';
import YouTubeIcon from '../img/YouTube.svg';

---

<style lang="scss">
    @use "sass:color";

    .talk-card {
        display: flex;
        border: 1px solid #D2D2D2;
        overflow: clip;
        flex-flow: wrap;

        a {
            text-decoration: none;
        }

        .info-container {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            color: var(--color-text);

            h2 {
                font-size: 1.25rem;
                line-height: 1.2;
                margin-block: 0;
                display: -webkit-inline-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: clip;
                height: 3lh;
            }

            p {
                line-height: 1.4;
                margin-block: 0;
                font-size: 1rem;
                display: -webkit-inline-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                overflow: clip;
                height: 3lh;
            }

            .speaker {
                font-size: .75rem;
            }

            .talk-pills {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
            }
        }

        .additional-links {
            align-self: end;
            border-top: 1px solid #D2D2D2;
            width: 100%;

            > p, > a {
                padding: 16px 24px;
            }

            > *:not(:last-child) {
                border-bottom: 1px solid #D2D2D2;
            }

            a {
                align-items: center;
                color: var(--link-color);
                display: flex;
                gap: 8px;
            }

            a:hover {
                background-color: color.adjust(#000, $lightness: 15%);
            }
        }
    }

    .talk-card__thumbnail {
        aspect-ratio: 16/9;
    }

    .video-links {
        align-items: center;
        display: flex;
        padding-left: 24px;
    }

    .video-link {
        display: flex;
        flex: 0 0 58px;
        height: 58px;
        justify-content: center;
    }

    .video-link-icon {
        flex: 0 0 32px;
    }

    .video-links-label {
        margin-right: 8px;
    }
</style>
<div class:list={['talk-card', slugify(track)]}>
    <div>
        <Image
            src={thumbnailUrl}
            class="talk-card__thumbnail"
            alt={speakerNames}
            height="900"
            width="1600"
        />
        <div class="info-container">
            <h2>{ title }</h2>
            <p>{ summary }</p>
            <div class="speaker">
                { speakerNames }
            </div>
            <div class="talk-pills">
                {track && <Pill Type="div" label={ track } />}
                <Pill Type="div" label={ room } />
            </div>
        </div>
    </div>
    <div class="additional-links">
        {
            hasVideo ?
            <div class="video-links">
                <div
                    class="video-links-label"
                    aria-hidden="true"
                >
                    Watch on
                </div>
                {mediaCccDe &&
                    <a
                        class="video-link"
                        href={mediaCccDe}
                        target="_blank"
                        aria-label="Watch on media.ccc.de"
                        title="Watch on media.ccc.de"
                    >
                        <Voctocat
                            class="video-link-icon"
                            width={32}
                            height={32}
                        />
                    </a>
                }
                {youtube &&
                    <a
                        class="video-link"
                        href={youtube}
                        target="_blank"
                        aria-label="Watch on YouTube"
                        title="Watch on YouTube"
                    >
                        <YouTubeIcon
                            class="video-link-icon"
                            width={32}
                            height={32}
                        />
                    </a>
                }
            </div> :
            <p>Recording not available</p>
        }
        { slides
            ? <a href={ `/slides/slides_${talkId}.pdf` } download={ slides } class="slides"><img src="/watch/slides-icon.svg" aria-hidden="true" />View slides</a>
            : <p>Slides not available</p>
        }
    </div>
</div>
